<div class="col-12 pt-3">
<%= form_with(model: [artist_board, board_comment]) do |f| %>
  <% if board_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board_comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% board_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class:"form-control" %>
  </div>

    <div class="custom-file">
    <%= f.label :写真選択, class:"custom-file-label", for:"inputGroupFile01" %>
    <%= f.file_field :picture, class:"form-control custom-file-input", id:"inputGroupFile01" %>
    </div>

    <div class="text-center my-3">
    <%= f.submit "投稿", class:"btn blue-gradient btn-block btn-rounded z-depth-1a" %>
    </div>

<% end %>

</div>
