

<h1>Music Square</h1>
<h3>音楽で価値観が繋がる</h3>
<p>
Music Squareは音楽の好きな人たちが交流・情報交換・イベント作成のできるアプリケーションです。<br>
アプリケーション内には好きなアーティストごとに掲示板が用意されています。<br>
ご自由にイベントを作成し、ユーザー同士で交流・情報交換を行ってください。
</p>

<div class="">
  <p>欲しい繋がりがすぐに作れる。</p>
  <div class="board_icon">
    <i></i>
  </div>
  <h3>アーティスト掲示板</h3>
  <p>機能説明文</p>
</div>

<div class="">
  <div class="event_icon">
    <i></i>
  </div>
  <h3>イベント</h3>
  <p>機能説明文</p>
</div>

<div class="">
  <h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :profile %><br />
    <%= f.text_area :profile, autofocus: true, autocomplete: "profile" %>
  </div>

  <div class="field">
    <%= f.label :profile_image %><br />
    <%= f.file_field :profile_image, autofocus: true, autocomplete: "profile_image" %>
    <%= image_tag(@user.profile_image.url) if @user.profile_image && @user.profile_image.url %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

</div>
<%= render "devise/shared/links" %>
