<div class="row d-flex justify-content-center">
  <div class="col-md-9 col-lg-7 col-xl-5">
    <div class="card mt-4">

      <div class="card-body mx-4">

<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :profile %>
    <%= f.text_area :profile, class:"form-control" %>
  </div>

  <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">アップロード</span>
  </div>
  <div class="custom-file text-center">
    <%= f.label :profile_image, class:"custom-file-label text-left", for:"inputGroupFile01" %>
    <%= f.file_field :profile_image, class:"custom-file-input", id:"inputGroupFile01"  %>
    <%= f.hidden_field :profile_image_cache %>
  </div>
</div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>

  <div class="text-center my-4">
    <%= f.submit class:"btn blue-gradient btn-block z-depth-1a submit-btn" %>
  </div>
<% end %>

</div>

</div>


</div>
</div>
