<h1>Music Square 利用ユーザー</h1>

<table>
  <thead>
    <tr>
      <th>プロフィール写真</th>
      <th>ユーザーネーム</th>
      <th>プロフィール</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
            <% if user.profile_image? %>
            <%= image_tag "#{user.profile_image}", :size =>'50x50' %>
            <% else %>
            <%= image_tag 'default.jpg', :size =>'50x50' %>
            <% end %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td><%= user.profile %></td>
        <td><%= render 'follow_form', user: user %></td>
        <td><%= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
