<div class="container-fluid">



  <h6 class="text-center text-muted pt-5">ユーザー一覧</h6>
    <h2 class="text-center font-weight-bold pb-4">気になったユーザーをフォローしよう</h2>
<div class="d-flex justify-content-center my-4">

    <div class="list-group-flush col-9">
      <% @users.each do |user| %>
      <div class="list-group-item">
        <div class="row">
          <div class="col-3 text-center mt-4">
      <%= link_to user_path(user) do %>
      <% if user.profile_image? %>
      <%= image_tag "#{user.profile_image}", :size =>'75x75',class:"rounded-circle z-depth-1" %>
      <% else %>
      <%= image_tag 'default.jpg', :size =>'75x75',class:"rounded-circle z-depth-1" %>
      <% end %>
      <% end %>
      <h5><%= user.name %></h5>
      </div>
      <div class="col-6 border-bottom">
        <h6 class="text-center text-muted">プロフィール</h6>
      <p><%= user.profile %></p>
      </div>

      <div class="col-3 text-center">



      <%= render 'follow_form', user: user %>


      <%= link_to relationship_path(user.id) do %>
      <button type="button" class="btn btn-outline-primary btn-white waves-effect">友達を確認する</button>

      <% end %>
      </div>
    </div>
  </div>

            <div>
              <% if current_user.id == user.id %>
                <%= link_to edit_user_path(user) do %>
                <button type="button" class="btn-sm btn-outline-danger waves-effect">編集</button>
                <% end %>
                <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <button type="button" class="btn-sm btn-outline-danger waves-effect">削除</button>
                <% end %>
                <% else %>
              <% end %>
            </div>

<% end %>
</div>
</div>

<div class="d-flex justify-content-center mb-4">
<%= paginate @users %>
</div>
</div>
