<div class="container-fluid">
  <div class="row d-flex justify-content-center pt-4">
    <div class="col-10 col-lg-8 col-xl-6 mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <div class="row pl-3">
            <div class="col-5 text-center">
              <% if @user.profile_image? %>
                <%= image_tag "#{@user.profile_image}", :size =>'200x200',class:"rounded-circle" %>
              <% else %>
                <%= image_tag 'default.jpg', :size =>'200x200',class:"rounded-circle" %>
              <% end %>
              <h3 class="font-weight-bold"><%= @user.name %></h3>

              <%= render 'follow_form', user: @user %>

              <% if current_user.id != 24 && (current_user.admin? || current_user.id == @user.id) %>
                <%= link_to edit_user_path(@user) do %>
                  <button type="button" class="btn-sm btn-outline-danger waves-effect">編集する</button>
                <% end %>
                <%= link_to users_path, method: :delete, data: { confirm: '本当に退会しますか?' } do %>
                  <button type="button" class="btn-sm btn-outline-danger waves-effect">退会する</button>
                <% end %>
              <% end %>
            </div>

            <div class="col-7 border-bottom">
              <h6 class="text-center text-muted">プロフィール</h6>
              <p><%= @user.profile %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center my-4">
    <div class="col-11 col-lg-10 col-xl-6 mb-3 mb-md-0">
      <div class="m-2">
        <h6 class="text-center text-muted pt-4">フォロー一覧</h6>
        <h2 class="text-center font-weight-bold py-4"><%= @user.name %>がフォローしてる人</h2>
        <ul class="row list-group list-group-horizontal">
          <% @user.following.each do |user| %>
          <li class="list-group-item col-2 text-center mb-1">
            <% if user.profile_image? %>
              <%= image_tag "#{user.profile_image}", :size =>'50x50',class:"rounded-circle" %>
            <% else %>
              <%= image_tag 'default.jpg', :size =>'50x50',class:"rounded-circle" %>
            <% end %>
            <p><%= user.name %></p>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-11 col-lg-10 col-xl-6 mb-3 mb-md-0">
      <div class="m-2">
        <h6 class="text-center text-muted pt-4">フォロワー一覧</h6>
        <h2 class="text-center font-weight-bold py-4"><%= @user.name %>のフォロワーたち</h2>
        <ul class="list-group list-group-horizontal row">
          <% @user.followers.each do |user| %>
          <li class="list-group-item col-2 text-center mb-1">
            <% if user.profile_image? %>
              <%= image_tag "#{user.profile_image}", :size =>'50x50',class:"rounded-circle" %>
            <% else %>
              <%= image_tag 'default.jpg', :size =>'50x50',class:"rounded-circle" %>
            <% end %>
            <p><%= user.name %></p>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center my-4">
    <div class="col-11 col-lg-10 col-xl-9 mb-3 mb-md-0">
      <h6 class="text-center text-muted pt-4">ファンアーティスト一覧</h6>
      <h2 class="text-center font-weight-bold py-4"><%= @user.name %>がファン登録している掲示板</h2>
      <div class="row row-cols-1 row-cols-md-4">
        <% @fan_artists.each do |fan_artist| %>
        <div class="col mb-4">
          <div class="card card-cascade m-1">
            <div class="view view-cascade overlay">
              <% if fan_artist.icon? %>
                <%= image_tag "#{fan_artist.icon}",:size =>'242x242' ,class:"card-img-top" %>
              <% else %>
                <%= image_tag 'default.jpg',:size =>'242x242' ,class:"card-img-top" %>
              <% end %>
                <%= link_to artist_board_path(fan_artist.artists) do %>
                  <div class="mask rgba-white-slight"></div>
                <% end %>
            </div>
            <div class="card-body card-body-cascade text-center">
              <h4 class="card-title"><%= fan_artist.artists %></h4>
              <div class="row d-flex justify-content-center">
                <% fan_artist.categories.each do |category| %>
                  <h6 class="font-weight-bold indigo-text ml-1"><%= category.name %></h6>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @fan_artists, :param_name => 'fan_artists_page' %>
      </div>
    </div>
  </div>


  <div class="row d-flex justify-content-center my-4">
    <div class="col-11 col-lg-8 col-xl-7 mb-3 mb-md-0">
      <h6 class="text-center text-muted pt-4">参加イベント一覧</h6>
      <h2 class="text-center font-weight-bold py-4"><%= @user.name %>が参加予定のイベント</h2>

  <div class="list-group-flush">
    <% @events.each do |event| %>
      <%= link_to artist_board_event_path(event.artist_board.artists, event) do %>
      <div class="list-group-item list-group-item-action border-bottom">
        <div class="row mb-0">
          <% if event.image? %>
            <%= image_tag "#{event.image}",:size =>'100x100' ,class:"rounded-circle col-sm-2" %>
          <% else %>
            <%= image_tag 'default.jpg',:size =>'100x100' ,class:"rounded-circle col-sm-2" %>
          <% end %>
          <div class="col-10">
            <div class="row">
              <h5 class="font-weight-bold"><%= event.title %></h5>
              <p>(<%= event.artist_board.artists %>掲示板のイベント)</p>
            </div>
            <div class="row mb-2">
              <% event.labels.each do |label| %>
                <span class="badge badge-pill badge-warning d-flex align-items-center mr-2"><%= label.name %></span>
              <% end %>
            </div>
            <div class="row">
              <h6>開催日時：<%= event.date.to_s(:published_on) %></h6>
              <h6 class="pl-4">開催場所：<%= event.place %></h6>
            </div>
            <div class="row">
              <h6>締切日時：<%= event.deadline.to_s(:published_on) %></h6>
            </div>
          </div>
        </div>
      </div>
    <% end %>

      <div class="pl-4">
        <% if current_user.admin? || current_user.id == event.owner_id %>
          <%= link_to edit_artist_board_event_path(event.artist_board.artists, event) do %>
            <button type="button" class="btn-sm btn-outline-danger waves-effect">編集</button>
          <% end %>
          <%= link_to artist_board_event_path(event.artist_board.artists, event), method: :delete, data: { confirm: '本当に削除しますか?' } do %>
            <button type="button" class="btn-sm btn-outline-danger waves-effect">削除</button>
          <% end %>
        <% else %>
        <% end %>
      </div>
  <% end %>

    <div class="d-flex justify-content-center mt-4">
      <%= paginate @events, :param_name => 'event_page' %>
    </div>
  </div>
</div>
</div>

  <div class="row d-flex justify-content-center mb-4">
    <%= link_to users_path do %>
      <button type="button" class="btn btn-outline-primary waves-effect link-btn">ユーザー一覧へ</button>
    <% end %>
  </div>
</div>
