<div class="row d-flex justify-content-center">
  <div class="col-md-9 col-lg-7 col-xl-5">
    <div class="card mt-4">

      <div class="card-body mx-4">

<%= form_with(model: [artist_board, event], local: true) do |f| %>
  <% if event.errors.any? %>
    <div class="alert alert-error alert-secondary text-center" id="error_explanation">
      <h2>登録できませんでした。</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :place %>
    <%= f.text_field :place, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date %>
    <%= f.text_field :date, class: "form-control datetimepicker-input", id: "date", data: {toggle: "datetimepicker", target: "#date"} %>
  </div>

  <div class="event-content-label">
    <%= f.label :content %>
    <%= f.text_area :content, class:"form-control" %>
  </div>

  <div class="form-group my-3">
    <%= f.label :deadline %>
    <%= f.text_field :deadline, class: "form-control datetimepicker-input", id: "deadline", data: {toggle: "datetimepicker", target: "#deadline"} %>
  </div>

  <div class="form-group">
    <%= f.label :capacity %>
    <%= f.number_field :capacity, min:0,max:10000, class:"form-control" %>
  </div>

  <div class="form-group py-3">
    <%= f.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>

  <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">アップロード</span>
  </div>
  <div class="custom-file text-center">
    <%= f.label :image, class:"custom-file-label text-left", for:"inputGroupFile01" %>
    <%= f.file_field :image, class:"custom-file-input", id:"inputGroupFile01" %>
  </div>
</div>


  <div class="text-center my-4">
    <%= f.submit class:"btn blue-gradient btn-block z-depth-1a submit-btn" %>
  </div>
<% end %>

</div>

</div>


</div>
</div>
