
<div class="">
<%= link_to '掲示板一覧へ', artist_boards_path %>

<h2>イベント検索</h2>

  <%= form_with url: events_path, method: :get, local: true do |form| %>
  <%= form.label :title, "イベント名" %>
  <%= form.text_field :title %>
  <%= form.label :label, "イベントタイプ" %>
  <%= form.select("label_id", Label.pluck(:name, :id), { include_blank: true }) %>
  <%= form.submit '絞り込み検索', name: nil %>
<% end %>

<%= link_to 'ユーザー一覧へ', users_path %>
</div>

<h1>イベント一覧</h1>

<table>
  <thead>
    <tr>
      <th>イメージ画像</th>
      <th>イベント名</th>
      <th>開催場所</th>
      <th>開催日時</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= link_to event_path(event) do %>
            <% if event.image? %>
            <%= image_tag "#{event.image}", :size =>'50x50' %>
            <% else %>
            <%= image_tag 'default.jpg', :size =>'50x50' %>
            <% end %>
          <% end %>
        </td>
        <td><%= event.title %></td>
        <td><%= event.place %></td>
        <td><%= event.date %></td>
        <td><%= link_to '詳細', event %></td>
        <td><%= link_to '編集', edit_event_path(event) %></td>
        <td><%= link_to '削除', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'イベントを新規作成する', new_event_path %>
