<div class="">
<i>
  <% if @event.image? %>
  <%= image_tag "#{@event.image}", :size =>'150x150' %>
  <% else %>
  <%= image_tag 'default.jpg', :size =>'150x150' %>
  <% end %>
</i>
</div>

<i>主催者アイコン
  <% if @event.owner.profile_image? %>
  <%= image_tag "#{@event.owner.profile_image}", :size =>'50x50' %>
  <% else %>
  <%= image_tag 'default.jpg', :size =>'50x50' %>
  <% end %>
</i>
<p>主催者：<%= @event.owner.name %></p>

<h1><%= @event.title %></h1>
<p><%= @event.place %></p>
<p><%= @event.date %></p>
<p><%= @event.deadline %></p>
<p><%= @event.capacity %></p>
<p><%= @event.content %></p>

<p>参加ボタン</p>

<%= link_to '編集', edit_event_path(@event) %> |
<%= link_to '削除', @event, method: :delete, data: { confirm: 'Are you sure?' } %>

<div class="">
  <h1>参加者一覧</h1>
</div>

<%= link_to 'Back', events_path %>
