<% event_comments.each do |eventcomment| %>

<div class="col-2 d-flex align-items-center justify-content-center">
    <%= link_to user_path(eventcomment.user.id),class:"text-center" do %>
      <% if eventcomment.user.profile_image? %>
        <%= image_tag "#{eventcomment.user.profile_image}", :size =>'30x30', class:"z-depth-1" %>
        <p><%= eventcomment.user.name %></p>
      <% else %>
        <%= image_tag 'default.jpg', :size =>'30x30', class:"z-depth-1" %>
        <p><%= eventcomment.user.name %></p>
      <% end %>
    <% end %>
</div>

<div class="col-10">
  <div class="comment">
        <p><%= eventcomment.content %></p>
    <% if eventcomment.user == current_user %>
      <%= link_to '削除', event_event_comment_path(eventcomment.event_id, eventcomment.id), method: :delete, remote: true, data: { confirm: '本当に削除しますか?' } %>
    <% end %>
  </div>
</div>

    <% end %>
