<%= form_with(model: artistboard, local: true) do |form| %>
  <% if artistboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artistboard.errors.count, "error") %> prohibited this artistboard from being saved:</h2>

      <ul>
      <% artistboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :artists %>
    <%= form.text_field :artists %>
  </div>

  <div class="field">
    <%= form.label :albums %>
    <%= form.text_area :albums %>
  </div>

  <div class="field">
    <%= form.label :profiles %>
    <%= form.text_area :profiles %>
  </div>

  <div class="field">
  <%= form.label :icon %>
  <%= form.file_field :icon %>
  </div>

  <div class="field">
    <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
