<div class="">
  <h2>アーティスト掲示板検索</h2>
  <%= form_with url: artist_boards_path, method: :get, local: true do |form| %>
  <%= form.label :artists, "アーティスト名" %>
  <%= form.text_field :artists %>
  <%= form.label :category, "ジャンル" %>
  <%= form.select("category_id", Category.pluck(:name, :id), { include_blank: true }) %>
  <%= form.submit '絞り込み検索', name: nil %>
  <% end %>

  <%= link_to 'イベント一覧へ', events_path %>
  <%= link_to 'ユーザー一覧へ', users_path %>
</div>

<div class="">

  <h2>アーティスト一覧</h2>
  <table>
    <thead>
      <tr>
        <th>アイコン</th>
        <th>アーティスト名</th>
        <th>説明</th>
        <th>ジャンル</th>
      </tr>
    </thead>

  <tbody>
    <% @artistboards.each do |artistboard| %>
      <tr>
        <td>
        <%= link_to artist_board_path(artistboard.artists) do %>
        <% if artistboard.icon? %>
        <%= image_tag "#{artistboard.icon}", :size =>'50x50' %>
        <% else %>
        <%= image_tag 'default.jpg', :size =>'50x50' %>
        <% end %>
        <% end %>
        </td>
        <td><%= artistboard.artists %></td>
        <td><%= artistboard.profiles %></td>
        <td>
            <% artistboard.categories.each do |category| %>
            <%= category.name %>
            <% end %>
        </td>

        <%# 管理人のみに設定する %>
        <td><%= link_to '編集', edit_artist_board_path(artistboard.artists) %></td>
        <td><%= link_to '削除', artistboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to '検索して新規作成', search_artist_boards_path %>

<%= paginate @artistboards %>
