<div class="">
  <h2>アーティスト掲示板検索</h2>

  <%= link_to 'イベント一覧へ', events_path %>
  <%= link_to 'ユーザー一覧へ', users_path %>
</div>

<div class="">

  <h2>アーティスト一覧</h2>
  <table>
    <thead>
      <tr>
        <th>アイコン</th>
        <th>アーティスト名</th>
        <th>説明</th>
      </tr>
    </thead>

  <tbody>
    <% @artistboards.each do |artistboard| %>
      <tr>
        <td>
        <%= link_to artist_board_path(artistboard) do %>
        <% if artistboard.icon? %>
        <%= image_tag "#{artistboard.icon}", :size =>'50x50' %>
        <% else %>
        <%= image_tag 'default.jpg', :size =>'50x50' %>
        <% end %>
        <% end %>
        </td>
        <td><%= artistboard.artists %></td>
        <td><%= artistboard.profiles %></td>

        <%# 管理人のみに設定する %>
        <td><%= link_to '編集', edit_artist_board_path(artistboard) %></td>
        <td><%= link_to '削除', artistboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%# 管理人のみに設定する %>
<%= link_to '新規作成', new_artist_board_path %>
