<p id="notice"><%= notice %></p>

<div class="">
  <h2>掲示板検索</h2>

  <%= link_to 'イベント一覧へ', events_path %>
  <%= link_to 'ユーザー一覧へ', users_path %>
</div>

<div class="">

  <h2>アーティスト一覧</h2>
  <table>
    <thead>
      <tr>
        <th>アイコン</th>
        <th>アーティスト名</th>
        <th>説明</th>
      </tr>
    </thead>

  <tbody>
    <% @artistboards.each do |artistboard| %>
      <tr>
        <%= link_to("artist_board") do %>
        <td><%= artistboard.icon %></td>
        <% end %>
        <td><%= artistboard.artists %></td>
        <td><%= artistboard.profiles %></td>
        
        <%# 管理人のみに設定する %>
        <td><%= link_to 'Edit', edit_artist_board_path(artistboard) %></td>
        <td><%= link_to 'Destroy', artist_board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%# 管理人のみに設定する %>
<%= link_to '新規作成', new_artist_board_path %>
