<p id="notice"><%= notice %></p>

<p>
  <strong>Artists:</strong>
  <%= @artistboard.artists %>
</p>

<p>
  <strong>Albums:</strong>
  <%= @artistboard.albums %>
</p>

<p>
  <strong>Profiles:</strong>
  <%= @artistboard.profiles %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @artistboard.icon %>
</p>

<%= link_to 'Edit', edit_artist_board_path(@artistboard) %> |
<%= link_to 'Back', artist_boards_path %>
