<div class="container-fluid">
<div class="row">

  <!-- 左側始まり -->
  <div class="col-4">

      <h6 class="text-center text-muted pt-5">イベント一覧</h6>
        <h2 class="text-center font-weight-bold pb-4"><%= @artistboard.artists %>のイベント</h2>
      <div class="row row-cols-1 row-cols-md-2">
        <!-- Card -->
        <div class="col mb-4">

        <% @artistboard.events.each do |event| %>
        <div class="card mb-4">
          <!-- Card image -->
            <% if event.image? %>
            <%= image_tag "#{event.image}",class:"card-img-top" %>
            <% else %>
            <%= image_tag 'default.jpg',class:"card-img-top" %>
            <% end %>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title"><a><%= event.title %></a></h4>
            <!-- Text -->
            <p class="card-text">Some</p>
            <!-- Button -->
            <%= link_to artist_board_event_path(@artistboard.artists, event) do %>
            <button class="btn btn-primary">詳細確認</button>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>

        <!-- Card -->
  </div>

        <h2>イベントを主催する</h2>
        <%= link_to 'イベント作成画面へ', new_artist_board_event_path(@artistboard.artists) %>

        <%= link_to 'Back', artist_boards_path %>
        <div class="pt-4">


          <h3 class="text-center font-weight-bold pb-4">目当ての掲示板がない場合は・・・</h3>
          <div class="text-center">
          <%= link_to search_artist_boards_path do %>
          <button type="button" class="btn btn-outline-primary btn-rounded btn-block waves-effect artistboard-btn">自分で掲示板を作成しよう！</button>
          <% end %>

          <h4 class="text-center font-weight-bold pt-5 pb-4">現在開催中のイベントを見つける！</h4>

      <%= link_to events_path do %>
      <button type="button" class="btn btn-outline-primary btn-rounded btn-block waves-effect artistboard-btn">イベント一覧へ</button>
      <% end %>

      <h4 class="text-center font-weight-bold pt-5 pb-4">価値観の合う仲間を見つける！</h4>
      <%= link_to users_path do %>
      <button type="button" class="btn btn-outline-primary btn-rounded btn-block waves-effect artistboard-btn">ユーザー一覧へ</button>
      <% end %>
      </div>

      </div>
    </div>

      <!-- 右側始まり -->
      <div class="col-7 ml-4 my-2">
        <div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-5">
<div class="card card-cascade m-1">
  <!-- Card image -->
  <div class="view view-cascade overlay">
    <% if @artistboard.icon? %>
    <%= image_tag "#{@artistboard.icon}",class:"card-img-top" %>
    <% else %>
    <%= image_tag 'default.jpg',class:"card-img-top" %>
    <% end %>
    <div class="mask rgba-white-slight"></div>
  </div>
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <h4 class="card-title"><strong><%= @artistboard.artists %></strong></h4>
    <h6 class="font-weight-bold indigo-text py-2">プロフィール: <%= @artistboard.profiles %></h6>
    <p>アルバム情報: <%= @artistboard.albums %></p>
    <% if @fan.present? %>
      <%= link_to fan_path(id: @fan.id), method: :delete do %>
      <button type="button" class="btn btn-outline-warning rounded-pill waves-effect">ファン解除</button>
      <% end %>
    <% else %>
      <%= link_to fans_path(artist_board_id: @artistboard.id), method: :post do %>
      <button type="button" class="btn btn-outline-warning rounded-pill waves-effect">ファンになる</button>
      <% end %>
    <% end %>
  </div>
</div>

</div>
</div>

<div class="row">
<div class="col-12">
  <h6 class="text-center text-muted pt-5">投稿一覧</h6>
    <h2 class="text-center font-weight-bold pb-4"><%= @artistboard.artists %>について語ろう！</h2>
    </div>


  <div class= "row py-4" id="board_comments_area">
    <%= render partial: 'board_comments/index', locals: { board_comments: @boardcomments } %>

<% if user_signed_in? %>
  <%= render partial: 'board_comments/form', locals: { board_comment: @boardcomment, artist_board: @artistboard } %>
<% end %>
</div>

<div class="col-12 pt-3 d-flex justify-content-center">
<%= paginate @boardcomments %>
</div>

</div>
</div>
</div>
</div>
</div>
