<div class="container-fluid">
  <div class="row">

<!-- 左側始まり -->
    <div class="col-4">
      <div class="m-3">
      <h6 class="text-center text-muted pt-4">イベント一覧</h6>
        <h2 class="text-center font-weight-bold pb-4"><%= @artistboard.artists %>のイベント</h2>
      <div class="row row-cols-1 row-cols-md-2 mb-4" id="events">

        <% @artistboard.events.each do |event| %>
        <div class="">
          <div class="card m-2">
            <% if event.image? %>
            <%= image_tag "#{event.image}",:size =>'208x208', class:"card-img-top" %>
            <% else %>
            <%= image_tag 'default.jpg',:size =>'208x208', class:"card-img-top" %>
            <% end %>
          <div class="card-body">
            <h4 class="card-title"><%= event.title %></h4>
            <p class="card-text">開催日時<br><%= event.date %></p>
            <%= link_to artist_board_event_path(@artistboard.artists, event) do %>
            <button class="btn btn-outline-primary waves-effect">詳細確認</button>
            <% end %>
          </div>
        </div>
        </div>
        <% end %>
      </div>



      <%= link_to new_artist_board_event_path(@artistboard.artists), class:"text-center" do %>
      <button type="button" class="btn btn-outline-primary btn-block waves-effect link-btn">自分でイベントを作成しよう！</button>
      <% end %>
      </div>
    </div>

<!-- 右側始まり -->
      <div class="col-8">
      <div class="m-4">
        <div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-4">
<div class="card card-cascade m-1">
  <!-- Card image -->
  <div class="view view-cascade overlay">
    <% if @artistboard.icon? %>
    <%= image_tag "#{@artistboard.icon}",class:"card-img-top" %>
    <% else %>
    <%= image_tag 'default.jpg',class:"card-img-top" %>
    <% end %>
    <div class="mask rgba-white-slight"></div>
  </div>
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <h4 class="card-title"><strong><%= @artistboard.artists %></strong></h4>
    <h6 class="font-weight-bold indigo-text py-2">プロフィール: <%= @artistboard.profiles %></h6>
    <p>アルバム情報: <%= @artistboard.albums %></p>
    <% if @fan.present? %>
      <%= link_to fan_path(id: @fan.id), method: :delete do %>
      <button type="button" class="btn btn-outline-warning rounded-pill waves-effect fan-btn">ファン解除</button>
      <% end %>
    <% else %>
      <%= link_to fans_path(artist_board_id: @artistboard.id), method: :post do %>
      <button type="button" class="btn btn-outline-warning rounded-pill waves-effect fan-btn">ファンになる</button>
      <% end %>
    <% end %>
  </div>
</div>

</div>
</div>

<div class="row">
  <div class="col-12">
  <h6 class="text-center text-muted pt-5">投稿一覧</h6>
    <h2 class="text-center font-weight-bold pb-4"><%= @artistboard.artists %>について語ろう！</h2>
    </div>
</div>


  <div class= "row py-4" id="board_comments_area">
    <%= render partial: 'board_comments/index', locals: { board_comments: @boardcomments } %>
</div>
<div class="row d-flex justify-content-center" id="board_comments_form">
<% if user_signed_in? %>
  <%= render partial: 'board_comments/form', locals: { board_comment: @boardcomment, artist_board: @artistboard } %>
<% end %>
</div>

<div class="col-12 pt-3 d-flex justify-content-center">
<%= paginate @boardcomments %>
</div>

</div>
</div>
</div>
  </div>
</div>
