<div class="">
  <i>
  <% if @artistboard.icon? %>
  <%= image_tag "#{@artistboard.icon}", :size =>'250x250' %>
  <% else %>
  <%= image_tag 'default.jpg', :size =>'250x250' %>
  <% end %>
  </i>
  <div class="">

  <h1><%= @artistboard.artists %></h1>
  <p>プロフィール: <%= @artistboard.profiles %></p>
  <p>アルバム情報: <%= @artistboard.albums %></p>
  </div>
    <% if @fan.present? %>
      <%= link_to 'ファン解除', fan_path(id: @fan.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'ファン登録', fans_path(artist_board_id: @artistboard.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
</div>

<div class="">
  <h2>投稿一覧</h2>
  <div id="board_comments_area">
    <%= render partial: 'board_comments/index', locals: { board_comments: @boardcomments } %>
  </div>
<% if user_signed_in? %>
  <%= render partial: 'board_comments/form', locals: { board_comment: @boardcomment, artist_board: @artistboard } %>
<% end %>
</div>


<h1>開催イベント</h1>
<% @artistboard.events.each do |event| %>
<td>
  <%= link_to event_path(event) do %>
    <% if event.image? %>
    <%= image_tag "#{event.image}", :size =>'50x50' %>
    <% else %>
    <%= image_tag 'default.jpg', :size =>'50x50' %>
    <% end %>
  <% end %>
</td>
<td><%= event.title %></td>
<% end %>

<h2>イベントを主催する</h2>
<%= link_to 'イベント作成画面へ', new_artist_board_event_path(@artistboard.id) %>

<%= link_to 'Back', artist_boards_path %>
