<div class="">
  <i>
  <% if @artistboard.icon? %>
  <%= image_tag "#{@artistboard.icon}", :size =>'250x250' %>
  <% else %>
  <%= image_tag 'default.jpg', :size =>'250x250' %>
  <% end %>
  </i>
  <div class="">

  <h1><%= @artistboard.artists %></h1>
  <p>プロフィール: <%= @artistboard.profiles %></p>
  <p>アルバム情報: <%= @artistboard.albums %></p>
  </div>
</div>

<div class="">
  <h2>投稿一覧</h2>
  <div id="board_comments_area">
    <%= render partial: 'board_comments/index', locals: { board_comments: @boardcomments } %>
  </div>
<% if user_signed_in? %>
  <%= render partial: 'board_comments/form', locals: { board_comment: @boardcomment, artist_board: @artistboard } %>
<% end %>

</div>


<h1>開催イベント</h1>


<%= link_to 'Back', artist_boards_path %>
